In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('/content/drive/MyDrive/heart.csv')
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
x=data.drop('target',axis=1)
y=data['target'].values

In [5]:
from sklearn.preprocessing import scale 
xs=scale(x)

In [7]:
from sklearn.model_selection import train_test_split as tts 
x_train,x_test,y_train,y_test=tts(xs,y,test_size=0.25,random_state=42)

In [9]:
from sklearn.tree import DecisionTreeClassifier as DT 
dtc=DT()
dtc.fit(x_train,y_train)
y_pred=dtc.predict(x_test)

In [11]:
print('Train score :',dtc.score(x_train,y_train)*100)
print('Test score :',dtc.score(x_test,y_test)*100)

Train score : 100.0
Test score : 97.66536964980544

In [12]:
from sklearn.metrics import confusion_matrix , classification_report
cm=confusion_matrix(y_pred,y_test)
print(cm)

[[132   6]
 [  0 119]]

In [13]:
cr=classification_report(y_pred,y_test)
print(cr)

              precision    recall  f1-score   support

           0       1.00      0.96      0.98       138
           1       0.95      1.00      0.98       119

    accuracy                           0.98       257
   macro avg       0.98      0.98      0.98       257
weighted avg       0.98      0.98      0.98       257